body {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: purple;
}

.background-1 {
  background: #68b0ab;
}

.background-2 {
  background: #8fc0a9;
}

.background-3 {
  background: #c8d5b9;
}

.background-4 {
  background: #faf3dd;
}

.m-20 {
  margin: 20px;
}

.h-80 {
  height: 80px;
}

.h-400 {
  height: 400px;
}

.w-80 {
  width: 80px;
}
/* 1 - basic flexbox */
.flex-container {
  display: flex;
  flex-direction: row; /* changing direction */
}
.flex-item-1 {
  flex: 1;
}
.flex-item-2 {
  flex: 2;
}
.flex-item-3 {
  flex: 3;
}
.flex-item-4 {
  flex: 4;
}
/* 2 - Centering Flexbox */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* assigning leftover space */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
/* wrapping items */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-basis-item-50 {
  flex-basis: 25%;
}
/* horizontal navigation */
.flex-menu {
  display: flex;
  justify-content: flex-end;
}
.flex-menu li {
  flex-grow: 1;
  text-align: center;
  border-right: 2px solid #68b0ab;
}

.flex-menu li a {
  display: block;
  padding: 20px;
}

.flex-menu .fourth-item {
  order: 5;
}
